@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "nunito" , sans-serif;
     background-color: #CDF7F6;
    
   
}

.heading {
    font-size: 2rem;
    color: #9A94BC;
    font-size: bold;
    width: 100%; 
    text-align: center;
}

#title-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#score-area {
    color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


#section1 {
    opacity: 1;
	transition: opacity 1s ease-in-out;
}

#section2 {
    background-color: #8FB8DE;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 9rem;
}


#section2 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#section2.active {
    opacity: 1;
}

#section1.active {
    opacity: 1;
}

#play-btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8FB8DE;
    padding: 0.7rem;
    border: none;
    text-transform:uppercase;
    font-size: larger;
    font-weight: bold;
    color: #6A605C;
}
.youvscomputer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 5rem;
    padding-top: 2rem;
    
}


.details p {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    
}

#result {
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    
}

button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.3rem;
    font-weight: bold;
    box-shadow: 5px 10px 2px 1px rgba(21, 21, 138, 0.2);
    border: solid 1px;
}

.youvscomputer, button:hover{
    background-color: #8FB8DE;
    
}

.score-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.score-area h2{
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    color: #6A605C;
    font-size: 1rem;
}

input[type="radio"]{
    display: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
}

label::before{
    content: '+';
}

#rule_hd{
    font-size: 1.5rem;
    font-style: italic;
}
  #game_counter {
    color: #fff;
  }

  #vs {
    color:black;
  }

@media screen and (max-width: 708px){

    .div1 {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
    
    .div2 {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    #play-btn {
        top: 31rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}

@media screen and (min-width:477px) and (max-width: 707px) {

   

    .container{
        display: flex;
        flex-direction: column;
    }

    .score-area{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #play-btn {
        top: 35rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .content {
        margin-left: 2rem;
        background-color: #fff;
        margin-right: 2rem;
        border-radius: 8px;
        padding: 1rem;
    }

    .accordion {
        margin-top: 2rem;
    }


}

@media screen and (max-width:476px) {
    .youvscomputer{
        display: flex;
        flex-direction: column;
    }
}