@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "nunito" , sans-serif;
    max-width: 75%;
     background-color: #9c957f;
}

.heading {
    font-size: 3rem;
    text-align: center;
}

#score-area {
    color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.details {
    margin-top: 3rem;
}

section {
    background-color: rgb(214, 214, 181);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.youvscomputer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 7rem;
    margin-top: -4rem;
}

.details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.3rem;
    
}

.score-area {
    display: flex;
    justify-content: space-evenly;
}