@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "nunito" , sans-serif;
     background-color: #CDF7F6;
    width: 100%;
}

.heading {
    font-size: 2rem;
    color: #9A94BC;
    font-size: bold;
    width: 100%; 
    text-align: center;
}

#title-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#score-area {
    color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


#section1 {
    opacity: 1;
	transition: opacity 1s ease-in-out;
}

#section2 {
    background-color: #8FB8DE;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 15rem;
}


#section2 {

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#section2.active {
    opacity: 1;
}

#section1.active {
    opacity: 1;
}

#play-btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8FB8DE;
    padding: 0.7rem;
    border: none;
    text-transform:uppercase;
    font-size: larger;
    font-weight: bold;
    color: #6A605C;
}
.youvscomputer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 5rem;
    padding-top: 2rem;
    
}

.details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    
}

.details p {
    font-weight: bold;
    font-size: 1.3rem;
    
}

button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.3rem;
    font-weight: bold;
    box-shadow: 12px 12px 2px 1px rgba(107, 107, 190, 0.2);;
}

.score-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.score-area {
    margin-bottom: 2rem;
}

.score-area h2{
    color: #fff;
}

#result {
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
}


.container {
    display: flex;
    justify-content: space-between;
    color: #6A605C;
    font-size: 1rem;
}

input[type="radio"]{
    display: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
}

label::before{
    content: '+';
}


  #game_counter {
    color: #fff;
  }

  #vs {
    color:black;
  }

@media screen and (max-width: 708px){
    .youvscomputer{
        display: flex;
        flex-direction: column;
        flex-shrink: 5;
        gap: 2rem;
    }
    .div1 {
        display: flex;
        gap: 1rem;
    }
    
    .div2 {
        display: flex;
        gap: 1rem;
    }

    .details {
        margin-top: 10rem;
    }

    .score-area {
        margin-top: 9rem;
    }

    #section2 {
    position: absolute;
    top: 60rem;
    left: 50%;
    transform: translate(-50%, -100%);
    }

    #play-btn {
        top: 25rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}

@media screen and (max-width: 400px){
    .container{
        display: flex;
        flex-direction: column;
    }

    #vs{
        text-align: center;
    }

    #com{
        position: relative;
        left: 13rem;
    }
    .score-area{
        display: flex;
        flex-direction: column;
    }

    #play-btn {
        top: 20rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}